/* PNG-Fix 
-------------------------------------------------*/		
#contenedor, .encabezado, .pie{ behavior: url(/wps/themes/html/seguros/js/iepngfix.htc); }

.contenido{	width: 923px;}

.inicio .contenido, .gobierno .contenido, .agentes .contenido{
	padding-bottom: 0;
}

h1 a{ letter-spacing: -999em; }	

#oportunidadCompra form button{ margin-left: 73px; }

.pie{ margin-top: 0!important; }

.pie ul#infoPie{ margin-right: 10px; }

.metLifeInicio{ margin-left: 7px; }

.metLifeInicio #metlifeInfoMenu li span{ width: 95.5%; }

.colizquierda{ margin-left:8px; }

.colizquierda div.informacion{ margin-bottom: 11px; }

.agentes .colizquierda div.extras{ margin-top: 24px; }

.inicio .colizquierda div.extras{ margin-top: 15px; }

.contenidoAgentes div.colcentral h2{ margin-right: 5px; }

.contenidoPrincipal div.info-1{ margin-bottom: -9px; }

.contenidoGobierno div.extras{ margin-left: -4px; }

.contenidoGobierno div.colderecha div#oportunidadCompra{ margin-bottom: 18px; }

.contenidoGobierno div.extras{ margin-left: 0; }

div.informacion{ height: 225px; padding: 10px 15px 0; overflow: hidden;}	

/* Interiores */
.interiores{ margin-top: -28px; }

#contenidoCentral{ background-position: 14px bottom; padding-bottom: 60px; margin-bottom: 10px; overflow: visible;}

#contenidoCentral.columnaSimple{ background-position: 14px bottom; }

.paginaCompleta{ padding-bottom: 0!important; }

#noEncontrado{	overflow: hidden; }

#columnaPrincipal{ margin-left: 7px; }

#columnaLateral{ margin-bottom: -75px; }

#columnaLateral div.informacion{ padding-bottom: 4px; }

#columnaLateral div.info-3{ padding-bottom: 0; }

.resumen div.funciones li{	display: inline-block; }

#formularioContacto input#area{ margin-right: 12px; }

div.modulo-ffvv{ margin-right: 15px; }

#redefineBusqueda legend{ padding-right: 0; width: 381px;}

.contenidoAgentes #ingresar{ margin-bottom: 10px; }

div.detalleServicio{ width: 602px!important; }/* Fix para el bug 'Repeated Characters' */

div.siteMap div{ margin-right: 27px; padding-bottom: 10px;}

#siteMap .contenido .mapa{ margin-bottom: -18px; }

.paginaCompleta .mapa .detalleServicio{ width: 860px!important; }

/* Tooltips */
.clue-right-default .cluetip-arrows {
  background-image: url(../img/layout/tooltip-arrow-left.gif);
}
.clue-left-default .cluetip-arrows {
  background-image: url(../img/layout/tooltip-arrow-right.gif);
}
.clue-top-default .cluetip-arrows {
  background-image: url(../img/layout/tooltip-arrow-bottom.gif);
}  
.clue-bottom-default .cluetip-arrows {
  background-image: url(../img/layout/tooltip-arrow-top.gif);
}
#cluetip-close{ right: 15px; }
/* toolTip */
div.toolTip{
	background: url(../img/layout/tooltip-bottom.gif) center bottom no-repeat;
	padding-bottom: 5px;
}
div.toolTipContents{
	background: url(../img/layout/tooltip-middle.gif) center repeat-y;
}
div.toolTip .contents{
	background: url(../img/layout/tooltip-top.gif) center top no-repeat;
	padding-top: 27px;
}

/* formTip */
div.formTip{
	background: url(../img/layout/formtip-bottom.gif) center bottom no-repeat;
	padding-bottom: 5px;
}
div.formTipContents{
	background: url(../img/layout/formtip-middle.gif) center repeat-y;
	padding-bottom: 8px;
}
div.formTip .contents{
	background: url(../img/layout/formtip-top.gif) center top no-repeat;
	padding-top: 26px;
}
div.formTip form{ margin-left: 7px; }

/* Search */
.informacionResultados{
	padding-bottom: 6px;
}

/* Global */
#textoGlobal{
  margin-left: 15px;
}

#textoGlobal .informacionGlobal
{
  height: 371px;
}

#textoGlobal .introduccionGlobal
{
  height: 371px;
}