@charset "utf-8";
/* CSS Document / id="contenedor" class="inicio" */

/* ---------------------------------------------------------- Inicio ----------------------------------------------------- */

/* Menu Personas */
ul.personas{
	width: 926px;
	background: url(../../images/layout/menu-personas.gif) no-repeat;
}
.menu li.menuInicio a{
	width: 60px;
	left: 0;
}
.menu li.menuSeguros a{
	width: 126px;
}
.menu li.menuAhorro a{
	width: 167px;
	left: -4px;
}
.menu li.menuIdeas a{
	width: 161px;
	left: -6px;
}	
.menu li.menuSac a{
	width: 187px;
	left: -9px;
}	
.menu li.menuConocenos a{
	width: 159px;
	left: -10px;
}

/* Menu interior (modificado) */
ul.interior{
	width: 926px;
	background: url(../../images/layout/menu-interior.gif) no-repeat;
}
.menu li.menuInicio a{
	width: 60px;
	left: 0;
}
.menu li.segurosVida a{
	width: 98px;
}
.menu li.segurosInversion a{
	width: 150px;
	left: 0px;
}
.menu li.segurosRetiro a{
	width: 98px;
	left: 0px;
}	
.menu li.segurosGastos a{
	width: 138px;
	left:  0px;
}	
.menu li.segurosAccidentes a{
	width: 170px;
	left:  0px;
}
.menu li.ideasVida a{
	width: 83px;
	left: 0px;
}
.menu li.tramites a{
	width: 83px;
	left: 0px;
}

.menu li.segurosIndDXNVida a{
	width: 210px;
	left: 0px;
}

.menu li.segurosIndDXNGMM a{
	width: 215px;
	left: 0px;
}

.menu li.segurosInstitucionales a{
	width: 125px;
	left: 0px;
}

.menu li.consultaSSI a{
	width: 125px;
	left: 0px;
}


.menu li.directorioPromotorias a{
	width: 220px;
	left: 0px;
}
.menu li.unete a{
	width: 80px;
	left: 0px;
}
.menu li.tramitesReq a{
	width: 120px;
	left: 0px;
}
.menu li.comentarios a{
	width: 100px;
	left: 0px;
}
.menu li.agendaCita a{
	width: 120px;
	left: 0px;
}
.menu li.solicitaAgente a{
	width: 120px;
	left: 0px;
}
.menu li.pagoLinea a{
	width: 120px;
	left: 0px;
}
.menu li.informacionUtil a{
	width: 120px;
	left: 0px;
}
.menu li.proveedores a{
	width: 100px;
	left: 0px;
}
.menu li.quienesSomos a{
	width: 100px;
	left: 0px;
}
.menu li.dondeEncontrarnos a{
	width: 140px;
	left: 0px;
}
.menu li.fundacion a{
	width: 100px;
	left: 0px;
}
.menu li.relacionesPublicas a{
	width: 120px;
	left: 0px;
}
.menu li.metMundo a{
	width: 120px;
	left: 0px;
}
.menu li.segurosVida a span,
.menu li.segurosInversion a span,
.menu li.tramitesReq a span,
.menu li.solicitaAgente a span,
.menu li.pagoLinea a span,
.menu li.quienesSomos a span,
.menu li.dondeEncontrarnos a span,
.menu li.fundacion a span,
.menu li.relacionesPublicas a span,
.menu li.metMundo a span,
.menu li.segurosIndDXNVida a span,
.menu li.segurosIndDXNGMM a span,
.menu li.segurosGastos a span,
.menu li.segurosInstitucionales a span,
.menu li.segurosAccidentes span,
.menu li.ideasVida span,
.menu li.segurosRetiro a span{
		padding-top:3px;
		line-height:16px;
		height:39px;}
		
#centralHomePage{
	overflow: hidden;
	position: relative;
	z-index: 2;
	margin: 0 auto;
	width: 921px;
}

/* .metLifeInicio ------------------------------------------------------------------------*/
.metLifeInicio {
	height:290px;
	margin:0px 15px 0 14px; /* 10 15 0 14*/
	padding:0px 0px 0px 0px;
	position:relative;
	width: 666px;
	float: left;
}

/* #metlifeInfo 
-------------------------------------------------*/		
/* #metlifeInfo li */	
.metLifeInicio #metlifeInfo li {
	height:253px !important;
	padding:20px;
	width: 626px !important;
	position: relative;
	z-index: 4;
}


/* li.banner-1 
-------------------------------------------------*/	
.metLifeInicio #metlifeInfo li img, .metLifeInicio #metlifeInfo li #flashBanner{
	position: absolute;
	top: 0;
	left: 0;
}

.metLifeInicio #metlifeInfo li p, .metLifeInicio #metlifeInfo li h2{
	position: relative;
	z-index: 5;
}
.metLifeInicio #metlifeInfo li h2 {
	color:#7eb764;
	font:italic 27px bold "Times New Roman", Times, serif;
}		
	
.metLifeInicio #metlifeInfo li p {
	color:#333;
	margin-bottom:20px;
	width:350px;
}		
.metLifeInicio #metlifeInfo li p a {
	display:block;
	margin-bottom:7px;
}
/* ul metLifeInicioMenu 
-------------------------------------------------*/	
.metLifeInicio #metlifeInfoMenu {
	position:absolute;
	top:242px;
	left:1px;
	height: 52px;
	width: 666px;	
	z-index:8;
}	

.metLifeInicio #metlifeInfoMenu li {
	float:left;
	font-size: 18px;
}	

.metLifeInicio #metlifeInfoMenu li a {
	background-color: #0e84c7;
	color:white;
	float:left;
	height:35px;
	padding:13px 0px 0px 0px;
	text-align:center;
	width:211px;	
	/* transparencia */
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	/* transparencia */
}
.metLifeInicio #metlifeInfoMenu li a.On:hover{
	cursor: default;
}
.metLifeInicio #metlifeInfoMenu li a:hover{
	cursor: pointer;
}
.metLifeInicio #metlifeInfoMenu li a:hover, .metLifeInicio #metlifeInfoMenu li a.On{
	/* transparencia */
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	text-decoration: none;
	/* transparencia */
}
.metLifeInicio #metlifeInfoMenu li a.On {
	cursor: default;
}
.metLifeInicio #metlifeInfoMenu li.menuItem-1 a{
	width: 220px;
}
.metLifeInicio #metlifeInfoMenu li.menuItem-2 a{
	width: 223px;
	border-left:1px solid #c7d3e4;
	border-right:1px solid #c7d3e4;
}
.metLifeInicio #metlifeInfoMenu li.menuItem-3 a{
	width: 219px;
}
.metLifeInicio #metlifeInfoMenu li span{
	width: 96%;
	height: 100%;
	display: block;
	padding-right: 10px;
}

.metLifeInicio #metlifeInfoMenu li.menuItem-1 span{
	background: url(../../images/layout/infomenu-bottom-left.gif) bottom left no-repeat;
}
.metLifeInicio #metlifeInfoMenu li.menuItem-3 span{
	background: url(../../images/layout/infomenu-bottom-right.gif) bottom right no-repeat;
}
.metLifeInicio #metlifeInfoMenu li span img{
	display: inline;
}
	
/* col-izquierda-centro-derecha ------------------------------------------------------------ */

.colizquierda, 
.colcentral, 
.colderecha {
	float:left;
	overflow:hidden;
	width:212px; 
	}
		

/* colizquierda --------------------------------------------------------------------------- */

.colizquierda {
	margin-left:14px;
	width: 212px;
	}

	
/* colcentral ---------------------------------------------------------------------------- */

.inicio .colcentral {
	margin-left:15px;
	margin-right:15px;
	width:439px; 
	}

	
/* colderecha  ---------------------------------------------------------------------------- */

.colderecha {
	width:212px; 
	}	
	
		
/* colcentral .listado  
-------------------------------------------------*/	
.colcentral .listado  {
	width:439px;
	height: 180px;
	background:url(../../images/layout/listado-contenido.png) left bottom no-repeat;
	margin-bottom:15px;
	padding:0px 0px 10px 0px;
	position:relative;	
	}		

/* h3 */ 
.colcentral .listado h3, .datosCentral h3 {
	background:url(../../images/layout/listado-titulo.png) left top no-repeat;
	color:#646464;
	font-size:18px;
	font-weight:normal;
	padding:15px 16px 5px;
	text-transform: uppercase;
	}	
/* h4 */ 
.colcentral .listado  h4 {
	color:#333333;
	font-size:16px;
	padding:10px 0 5px 0;
	font-weight:normal;
	}			

/* ul */	
.colcentral .listado  ul {
	width:auto;
	height: auto;
	}

.colcentral .listado  li {
	display: list-item;
	line-height:150%;
	}

.colcentral .listado  li a {
	color:#2195df;
	}

/* listaProductos  */
.colcentral .listado .listaProductos {
	width:406px;
	overflow:hidden;
	border-top: 1px solid #C7D0E1;
	margin-left:15px;
	}			

/* productos  */
.colcentral .listado .productos {
	width:196px;
	float:left;
}
.colcentral .listado #listaProductos{
	width: 210px;
}
/* productos  */


/* img  */
.colcentral .datosCentral img{
	position:absolute;
	top:14px;
	right:3px;
	border:1px solid #c7d0e1;
	margin:0px 10px 0 0;
}	

	
/* .datosCentral 
-------------------------------------------------*/	
.colcentral .datosCentral{
	width:439px;
	height:274px;
	background:url(../../images/layout/listado-contenido.png) left bottom no-repeat;
	padding:0px 0px 6px 0px;
	position:relative;	
}
.colcentral .datosCentral p {
	color:#7a7a7a;
	width:180px;
	margin:5px 0 5px 15px;
	}		
	
.colcentral .datosCentral  h3 {
	padding-left:15px;
	padding-top: 14px;
	text-transform: none;
	}		

.colcentral .datosCentral  ul {
	width:180px;
	margin: 10px 15px;
}
.colcentral .datosCentral  ul li{
	margin-bottom: 3px;
}

/* estilos nuevos */	
div.infoo {
    background: url(../../images/layout/div-informacion.png) no-repeat scroll 0 0 transparent;
    float: left;
    height: 226px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 10px 15px;
    width: 182px;}

div.infoo h3{
	margin-bottom: 10px;
	font-size: 16px;
	color: #646464;
	padding-top: 4px;
}
div.infoo h4{
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 5px;
}
div.infoo p{
	margin-bottom: 10px;
}
div.infoo p.masInfo{
	margin-top: -3px;
}
div.infoo img{
	margin-bottom: 10px;
}
div.infoo ul li{
	margin-bottom: 3px;
}

div.tienda{
	width: 182px;
	height: 226px;
	background-image:url(../../images/layout/div-tiendasocial.png);
	background-repeat:no-repeat;
	padding: 10px 15px;
	position:relative;
	margin-bottom: 15px;
	margin-left: 15px;
	float:left;
}

span.telefonos, span.correo{
	color:#F60;
	display:block;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	line-height:20px;}
	
span.correo{
	color:#F60;
	display:block;
	text-align:center;
	font-size:14px;}
	
span.sub{
	color:#999;
	display:block;
	text-align:center;
	font-size:14px;
	font-size:10px;
	margin:0 0 4px 0;}
