/* Interiores */
/* Ultimo cambio correcciones a ideas de vida*/
.interiores {
	background: url(../../images/layout/pie-interiores.png) top no-repeat;
}

#mix {
	width: 100% !important;
}

#columnaPrincipal .resumen img.imagenGrande {
	float: none;
}

#columnaPrincipal .resumen {
	overflow: hidden;
	height: 1%;
	margin-bottom: 25px;
	position: relative;
}

#columnaPrincipal .resumen div {
	float: left;
	width: 340px;
	margin-right: 40px;
}

#columnaPrincipal .resumen img {
	float: right;
}

#columnaPrincipal .resumen ul {
	bottom: 0;
	color: #7EB764;
	position: absolute;
	width: 180px;
}

#columnaPrincipal .resumen ul li {
	padding: 3px 0;
	font-size: 16px;
	border-bottom: 1px solid #7eb764;
	font-weight: bold;
}

#columnaPrincipal .resumen ul li span {
	font-size: 20px;
}

#columnaPrincipal .resumen h3 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 5px;
}

#columnaPrincipal .resumen p {
	font-size: 16px;
	line-height: 1.2em;
}

.resumen div.funciones {
	width: 250px !important;
	height: 120px;
	margin-right: 0 !important;
	background: url(../../images/layout/fondo-funciones.gif) no-repeat;
}

.resumen div.funciones h4 {
	font-size: 16px;
	margin: 12px 0 10px 17px;
}

.resumen div.funciones p {
	font-size: 1em !important;
	line-height: 1.2em;
	margin: 0 0 10px 17px;
}

.resumen div.funciones ul {
	margin-left: 17px;
}

.resumen div.funciones li a {
	padding-left: 18px;
}

.resumen div.funciones li a.imprimir {
	background: url(../../images/layout/icono-imprimir.gif) no-repeat;
}

.resumen div.funciones li a.email {
	background: url(../../images/layout/icono-email.gif) no-repeat;
}

ul.menuServicios {
	width: 634px;
	height: 30px;
	background: url(../../images/layout/menuservicios-ul.gif) bottom no-repeat;
	padding-bottom: 4px;
}

ul.menuServicios li {
	float: left;
}

ul.menuServicios li a {
	background: url(../../images/layout/menuservicios-li.gif) -1px top no-repeat;
	float: left;
	padding-left: 4px;
	position: relative;
}

ul.menuServicios li a span {
	background: url(../../images/layout/menuservicios-li.gif) top right no-repeat;
	padding: 8px 10px 0 6px;
	height: 22px;
	display: block;
	*display: inline-block;
	cursor: pointer;
}

ul.menuServicios li a:hover {
	background-position: -1px -30px;
	text-decoration: none;
	color: #6ab667;
}

ul.menuServicios li a:hover span {
	background-position: right -30px;
}

ul.menuServicios li a.activo,ul.menuServicios li a.activo:hover {
	background-position: -1px -60px;
	color: #6ab667 !important;
}

ul.menuServicios li a.activo span,ul.menuServicios li a.activo:hover span
	{
	background-position: right -60px;
}

ul.menuServicios li.inicio a {
	background-position: 0 0;
}

ul.menuServicios li.inicio a:hover {
	background-position: 0 -30px;
}

ul.menuServicios li.inicio a.activo,ul.menuServicios li.inicio a.activo:hover
	{
	background-position: 0 -60px;
}

#contenidosMenu {
	padding-top: 10px;
}

#contenidosMenu #detalles {
	background: none;
	padding-top: 0;
	margin-top: 0;
}

#contenidosMenu #detalles h3 {
	font-size: 16px;
	font-weight: bold;
}

#contenidosMenu .detalleServicio {
	overflow: hidden;
	display: inline-block;
	background: url(../../images/layout/borde-punteado.gif) top repeat-x;
	margin-top: 5px;
	padding-top: 20px;
	clear: both;
	width: 600px;
}

#contenidosMenu div.detalles {
	width: 275px;
	float: left;
	margin: 0 50px 0 0;
}

#contenidosMenu div.dos {
	margin-right: 0;
}

#contenidosMenu h3 {
	margin-bottom: 10px;
	font-weight: normal;
}

div#contenidosMenu p {
	margin-bottom: 15px;
}

#contenidosMenu table.comparativa {
	width: 600px;
	border-collapse: collapse;
	margin: 25px auto 0;
	text-align: center;
}

#contenidosMenu table.comparativa thead td {
	color: #7eb764;
}

#contenidosMenu table.comparativa td {
	padding: 5px 10px 5px 14px;
	border-bottom: 1px solid #ccc;
	background: url(../../images/layout/tablaseguros-borde.gif) top left repeat-y;
	vertical-align: middle;
}

#contenidosMenu table.comparativa td img {
	margin-top: 2px;
}

#contenidosMenu table.comparativa td.col1 {
	width: 158px;
	background: none;
	text-align: left;
	padding: 5px 3px;
}

div.detalleServicio h4 {
	font-size: 13px;
	margin-bottom: 6px;
}

div.detalleServicio div.caracteristicas {
	width: 390px;
	float: left;
	margin-right: 45px;
}

div.detalleServicio div.detallePlan {
	width: 165px;
	float: left;
}

div.detalleServicio div.detallePlan h4 {
	font-size: 16px;
	font-weight: normal;
	color: #9c7daf;
	background: url(../../images/layout/borde-punteado.gif) bottom repeat-x;
	padding-bottom: 8px;
}

div.detalleServicio div.detallePlan ul li {
	color: #9c7daf;
	margin-bottom: 10px;
}

div.detalleServicio a.pdf {
	background: url(../../images/layout/pdf-icon.gif) no-repeat;
	padding-left: 20px;
}

div.detalleServicio ul.listaDetalles {
	margin: 0 0 20px 20px;
	list-style: disc;
	list-style-position: inside;
}

div.detalleServicio ul.listaDetalles li {
	margin-bottom: 5px;
}

div.detalleServicio ul {
	margin: 0 0 20px 20px;
	list-style: disc;
	list-style-position: inside;
	list-style-position: outside;
}

div.detalleServicio ul li {
	margin-bottom: 5px;
}

div.detalleServicio div.adquirir {
	float: left;
	padding-left: 35px;
	margin: 10px 25px 0 0;
}

div.detalleServicio div.adquirir h4 {
	font-size: 16px;
	color: #f5854d;
	margin-bottom: 0;
}

div.detalleServicio div.adquirir p {
	margin-bottom: 0;
}

table.formatos {
	margin-bottom: 35px;
	margin-top: 0;
	border-collapse: collapse;
}

table.formatos h3 {
	margin-bottom: 5px;
}

table.formatos th {
	border-bottom: 1px solid #f1f2f3;
	text-align: left;
}

table.formatos td {
	background: none !important;
	border-bottom: 1px solid #f1f2f3;
	text-align: left;
	padding: 10px 10px 10px 0;
	vertical-align: middle;
}

table.formatos td img {
	margin-top: 2px;
}

table.formatos td span {
	display: block;
}

table.formatos td.pdf {
	text-align: center;
}

form#buscadorReclamaciones legend,form#buscadorReclamaciones label {
	display: none;
}

form#buscadorReclamaciones span {
	float: left;
	margin-right: 25px;
	margin-bottom: 0;
	padding-bottom: 20px;
}

form#buscadorReclamaciones select {
	border: 1px solid #ccc;
	width: 195px;
}

form#buscadorReclamaciones optgroup {
	margin-top: 10px;
}

.preguntasFrecuentes p.selected a {
	color: #6ab667 !important;
}

.moduloResumen {
	width: 258px;
	height: 164px;
	background: url(../../images/layout/modulo-ideas.gif) no-repeat;
	float: left;
	padding: 13px 10px 0 15px;
	margin: 0 33px 35px 0;
}

.moduloPar {
	margin-right: 0;
}

.moduloResumen h4 {
	color: #2195df;
	margin-bottom: 8px !important;
	text-transform: uppercase;
}

.moduloResumen img {
	float: left;
	border: 1px solid #ccc;
	margin-right: 10px;
}

/* IN09 */
/* Accordion Contactanos */
#contactarMetlife {
	width: 275px;
	height: 440px;
	float: left;
	margin-right: 25px;
}

#contactarMetlife div.viasContacto {
	height: 250px;
	position: relative;
	background: url(../../images/layout/contactarMetlife.png) repeat-y;
	padding: 0 15px;
}

#contactarMetlife div#oficinasCentrales {
	background: url(../../images/layout/contactarMetlife-bottom.png) bottom
		no-repeat;
}

div.viasContacto div {
	margin: 0 0 15px;
	padding-top: 15px;
}

div.viasContacto h4 {
	color: #f26721;
	font-size: 16px;
	margin-bottom: 5px;
}

div.viasContacto h4 span {
	font-weight: normal;
	color: #707070;
	font-size: 12px;
	display: block;
}

div.viasContacto p {
	background: url(../../images/layout/borde-punteado.gif) top repeat-x;
	padding-top: 15px;
	margin-bottom: 10px !important;
}

#contactarMetlife a.titulo {
	font-size: 15px;
}

#contactarMetlife a.titulo,#contactarMetlife a.titulo:link,#contactarMetlife a.titulo:hover,#contactarMetlife a.titulo:visited,#contactarMetlife a.titulo:active
	{
	background-color: #2790CC;
	color: #fff;
}

#contactarMetlife a.titulo:hover {
	text-decoration: none;
}

#contactarMetlife a.titulo {
	height: 24px;
	padding: 5px 0px 0 33px;
	color: #fff;
	display: block;
}

#contactarMetlife a.titulo:hover,#contactarMetlife a.selected {
	background-color: #7bb065;
	background-position: 0px -30px;
	color: #fff;
}

#contactarMetlife #telefonos {
	background: #2790CC url(../../images/layout/contactar-titulo-top.png) left top
		no-repeat;
}

#contactarMetlife #emails {
	background: #2790CC url(../../images/layout/contactar-titulo-middle.png) left
		top no-repeat;
}

#contactarMetlife #oficinas {
	background: #2790CC url(../../images/layout/contactar-titulo-bottom.png) left
		top no-repeat;
}

#contactarMetlife #telefonos:hover,#contactarMetlife #telefonos.selected,#contactarMetlife #emails:hover,#contactarMetlife #emails.selected,#contactarMetlife #oficinas.selected,#contactarMetlife #oficinas.selected:hover
	{
	background-color: #7bb065;
	background-position: 0px -30px;
	color: #fff;
}

#contactarMetlife #oficinas:hover {
	background-position: 0 -60px;
}

#formularioContacto {
	width: 290px;
	float: left;
}

#formularioContacto legend {
	font-size: 18px;
	padding-left: 0;
	*margin-left: -8px;
	padding-bottom: 10px;
}

#formularioContacto p {
	overflow: hidden;
	height: 1%;
	margin-bottom: 8px;
	*margin-bottom: 5px;
}

#formularioContacto label {
	display: block;
}

#formularioContacto input,#formularioContacto select,#formularioContacto textarea
	{
	border: 1px solid #ccc;
	width: 284px;
	padding: 2px;
}

#formularioContacto select {
	width: 290px;
}

#formularioContacto input#area {
	width: 51px;
	margin-right: 15px;
	float: left;
}

#formularioContacto input#numero {
	width: 136px;
	float: left;
}

#formularioContacto textarea {
	height: 90px;
}

#formularioContacto button {
	*margin: 3px 0 0 -15px;
}

div.publicidad {
	width: 592px;
	overflow: hidden;
}

div.publicidad p {
	font-size: 16px;
	margin: 10px 0 30px;
}

/* Scroll */
ul.galeria {
	list-style: none;
	width: 575px;
	height: 106px;
	background: url(../../images/layout/fondo-galeria.gif) no-repeat;
	padding: 7px;
	margin-top: 15px;
	position: relative;
}

ul.galeria li {
	width: 100px;
	float: left;
	text-align: center;
	margin-right: 34px;
}

ul.galeria li.anterior {
	width: 17px;
	margin: 45px 20px 0 0;
}

ul.galeria li.siguiente {
	width: 17px;
	margin: 45px 0 0 -20px;
}

ul.galeria li.holder {
	width: 502px !important;
	overflow: hidden;
}

ul.galeria li.holder ul {
	width: 1610px;
}

ul.galeria li img {
	border: 1px solid #ccc;
	margin-bottom: 3px;
}

ul.galeria li.anterior a,ul.galeria li.siguiente a {
	text-indent: -1000em;
	width: 17px;
	height: 17px;
	display: block;
	outline: none;
}

ul.galeria li.anterior a {
	background: url(../../images/layout/galeria-anterior.gif) no-repeat;
}

ul.galeria li.siguiente a {
	background: url(../../images/layout/galeria-siguiente.gif) no-repeat;
}

ul.galeria li span {
	display: block;
}

#columnaPrincipal #resultados {
	width: 634px;
	background: url(../../images/layout/menuservicios-ul.gif) top no-repeat;
	padding-top: 5px;
}

#calculadora {
	width: 577px;
	margin: 0 auto;
}

/* Resultados IN11 */
.informacionResultados {
	width: 212px;
	background: url(../../images/layout/inforesultados-bottom.gif) bottom
		no-repeat;
	padding-bottom: 9px;
	*padding-bottom: 6px;
	margin-bottom: 15px;
}

.informacionResultados h3 {
	font-size: 16px;
	background: url(../../images/layout/inforesultados-top.gif) top no-repeat;
	padding: 17px 0 0 16px;
	height: 25px;
}

.informacionResultados ul,.informacionResultados h4.titulo {
	background: url(../../images/layout/inforesultados-middle.gif) repeat-y;
}

.informacionResultados h4.titulo {
	padding: 5px 0 0 15px;
}

.informacionResultados ul {
	padding: 8px 0px 5px 16px;
	margin-bottom: -3px;
}

.informacionResultados ul li {
	margin-bottom: 3px;
	overflow: hidden;
	width: 180px;
}

.resultadosBusqueda #columnaPrincipal,.resultadosBusqueda {
	background: none !important;
	padding-top: 0 !important;
}

.resultadosBusqueda #columna {
	width: 212px;
	float: left;
	margin-right: 15px;
}

.resultadosBusqueda #resultadosBusqueda {
	width: 437px;
	background: url(../../images/layout/resultadosbusqueda-bottom.gif) bottom
		no-repeat;
	padding-bottom: 31px;
	float: left;
}

.resultadosBusqueda div.contenidosResultados {
	background: url(../../images/layout/resultadosbusqueda-top.gif) top no-repeat;
	padding-top: 4px;
}

.resultadosBusqueda div.contenidosResultados #resultados {
	width: auto !important;
	background: url(../../images/layout/resultadosbusqueda.gif) repeat-y 0px 0px
		!important;
	padding: 25px 15px 15px;
}

.resultadosBusqueda #resultados h3 {
	font-size: 24px;
	font-weight: normal;
	float: left;
	margin-bottom: 25px;
}

.resultadosBusqueda p.paginaResultados {
	float: right;
	font-size: 11px;
	color: #f27c2c;
	margin-top: 10px;
}

.resultadosBusqueda p.redefinir {
	clear: both;
	padding-left: 20px;
	background: url(../../images/layout/flecha-izquierda.gif) 0 2px no-repeat;
	margin-bottom: 10px;
}

#redefineBusqueda {
	width: 407px;
	height: 178px;
	background: url(../../images/layout/redefinirbusqueda.gif) no-repeat;
	margin-bottom: 20px;
	position: relative;
}

#redefineBusqueda legend {
	*margin-left: -7px;
	color: #fff;
	font-size: 16px;
	padding: 8px 0 10px 15px;
}

#redefineBusqueda label {
	font-size: .9em;
	color: #000;
	font-weight: bold;
	display: block;
	margin-left: 2px;
}

#redefineBusqueda span.campos {
	width: 185px;
	float: left;
	padding-left: 15px;
	margin-top: 5px;
	overflow: hidden;
	height: 1%;
}

#redefineBusqueda input,#redefineBusqueda select {
	border: 1px solid #ccc;
	width: 178px;
	padding: 2px;
	font-size: .9em;
}

#redefineBusqueda select {
	padding: 1px;
	width: 185px;
}

#redefineBusqueda span.checkbox {
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 5px;
	*margin-top: 23px;
}

#redefineBusqueda span.combo {
	margin-top: 10px;
}

#redefineBusqueda span.checkbox input {
	border: 0 !important;
	width: 15px !important;
	height: 15px !important;
	margin-right: 3px;
	float: left;
	*margin-top: 1px;
}

#redefineBusqueda button {
	position: absolute;
	bottom: 10px;
	left: 13px;
	*left: -2px;
}

*:first-child+html #redefineBusqueda button {
	left: -297px;
}

div.respuesta {
	padding: 8px 5px;
	margin-bottom: 8px;
}

div#mejorRespuesta {
	background: #d6eac9;
}

div.respuesta h5 {
	color: #2e97cc;
	margin-bottom: 5px;
}

div.respuesta h4 {
	font-size: 16px;
	margin-bottom: 5px;
}

.resultadosBusqueda div.contenidosResultados #resultados ul.paginador {
	margin-top: 60px;
}

#buscador {
	margin-bottom: 25px;
	width: 340px;
	position: relative;
}

#buscador legend {
	display: none;
}

#buscador input {
	width: 285px;
	height: 20px;
	background: url(../../images/layout/fondo-buscador.gif) no-repeat;
	padding: 2px 0 0 5px;
}

#buscador button {
	background: url(../../images/layout/layout-encabezado-buscador-button.png)
		left top no-repeat;
	color: #fff;
	padding: 0 0 3px;
	width: 56px;
	height: 23px;
	position: absolute;
	top: 0;
	*top: 1px;
	right: 6px;
}

.columnaSimple #contenidosMenu {
	background: none;
}

.resultados {
	width: 400px;
	float: left;
	margin-right: 10px;
	padding-top: 10px;
}

.resultados h3 {
	background: url(../../images/layout/borde-punteado.gif) bottom repeat-x;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.resultados ol {
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 16px;
	color: #008ed0;
	background: url(../../images/layout/borde-punteado.gif) bottom repeat-x;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.resultados ol li {
	margin-bottom: 20px;
}

.resultados ol p {
	margin-top: 10px;
	font-size: 12px;
	color: #707070;
}

ul.paginador {
	height: 18px;
	width: auto;
	padding-top: 160px;
	clear: both;
}

ul.paginador li {
	float: left;
	margin-right: 5px;
	/*display: inline;*/
	/*line-height: 18px;*/
}

ul.paginador li span.activa {
	color: #6ab667;
}

ul.paginador li.anterior a {
	background: url(../../images/layout/pagina-anterior.gif) left center no-repeat;
	padding: 2px 0;
	padding-left: 22px;
	/**position: relative;*/
}

ul.paginador li.siguiente a {
	background: url(../../images/layout/pagina-siguiente.gif) right center
		no-repeat;
	padding: 2px 0;
	padding-right: 22px;
	/**position: relative;*/
}

div.modulo-individuales {
	width: 175px;
	height: 190px;
	float: left;
	padding-right: 25px;
}

div.modulo-individuales h4 {
	margin-bottom: 10px;
	font-size: 16px;
}

#contactar-ffvv fieldset {
	background: url(../../images/layout/borde-punteado.gif) bottom repeat-x;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

#contactar-ffvv legend {
	font-size: 16px;
	font-weight: bold;
	*margin-left: -7px;
	margin-bottom: 25px;
}

#contactar-ffvv fieldset.terminos {
	background: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#contactar-ffvv fieldset.datos legend,#contactar-ffvv fieldset.terminos legend
	{
	display: none;
}

#contactar-ffvv label {
	display: block;
	margin-bottom: 5px;
}

#contactar-ffvv label span {
	color: #d9503e;
}

#contactar-ffvv input {
	padding: 1px;
}

#contactar-ffvv input,#contactar-ffvv select {
	border: 1px solid #ccc;
	margin-bottom: 8px;
	width: 290px;
}

#contactar-ffvv input.area {
	width: 60px;
}

#contactar-ffvv input.numero {
	width: 218px;
}

#contactar-ffvv label.radioBtn {
	float: left !important;
	width: 40px !important;
}

#contactar-ffvv label.radioBtn input {
	float: left;
	margin-top: 2px;
	*margin-top: -2px;
	margin-right: 5px;
}

#contactar-ffvv textarea {
	border: 1px solid #ccc;
	width: 290px;
	height: 150px;
	margin-bottom: 10px;
}

#contactar-ffvv #curriculo {
	border: 1px outset #ccc;
}

#contactar-ffvv span.acepto {
	display: block;
}

#contactar-ffvv button {
	margin: 10px 0 0 0;
	*margin: 10px 0 0 -15px;
}

#contenidoCentral.paginaCompleta {
	background: none;
	padding-bottom: 1px !important;
}

div.resultado {
	overflow: hidden;
	height: 1%;
	border-bottom: 1px solid #f1f2f3;
	margin-bottom: 25px;
}

div.resultado img {
	float: left;
	margin-right: 10px;
}

div.detalleBusqueda h4 {
	font-size: 16px;
	padding: 4px 0 0;
	margin-bottom: 5px;
}

div.detalleBusqueda p {
	padding-right: 85px;
}

.contenidosMenu .contenidos h2 {
	font-size: 24px;
	margin-bottom: 15px;
}

#noEncontrado {
	width: 893px;
	margin: 0 auto;
	background: url(../../images/layout/sitemap-bottom.gif) bottom no-repeat;
	padding-bottom: 27px;
}

#noEncontrado #contenidos {
	width: 893px;
	background: url(../../images/layout/sitemap-top.gif) left top no-repeat;
	padding-top: 4px;
}

#noEncontrado #contenidos .contenidos {
	background: url(../../images/layout/sitemap.gif) repeat-y;
	padding: 15px 15px 0;
	overflow: hidden;
	height: 1%;
}

#noEncontrado h2 {
	font-size: 24px;
	color: #eb460e;
}

#noEncontrado h3 {
	font-size: 16px;
	margin-bottom: 35px;
}

div.ayudaContenidos {
	width: 140px;
	float: left;
	padding-right: 75px;
	*margin-bottom: -32px;
}

div.ayudaContenidos h4 {
	font-size: 13px;
	color: #000;
	margin-bottom: 5px;
}

div.ayudaContenidos ol {
	list-style-position: inside;
	list-style-type: decimal;
}

div.ayudaContenidos ol li {
	margin-bottom: 5px;
}

div.ayudaContenidos ol a {
	color: #707070 !important;
}

div.ayudaContenidos ul li {
	margin-bottom: 1px;
}

div.intro {
	width: 260px;
	float: left;
	padding-right: 40px;
}

div.intro h3 {
	font-size: 16px;
	font-weight: bold;
}
/*
ul.listado{
	margin-top: 10px;
	padding-bottom: 20px;
	background: url(../../images/layout/borde-punteado.gif) bottom repeat-x;
}
ul.listado li{
	margin-bottom: 10px;
	font-size: 16px;
}
ul.listado li a{
	color: #56b032!important;
}*/

/*div.siefores{
	width: 585px;
	height: 186px;
	background: url(../../images/layout/fondo-siefores.gif) no-repeat;
	margin-bottom: 15px;
	padding: 18px 0 0 15px;
}
div.siefores ul{
	width: 292px;
	float: left;
}
div.siefores ul li{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 35px;
}
div.siefores ul li a{
	color: #56b032!important; 
}*/

/*
.detalleServicio div.masInformacion{
	width: 270px;
	padding-right: 30px;
	float: left;
}
.detalleServicio div.masInformacion h3{
	font-size: 16px;
	font-weight: bold;
	color: #2e97cc;
}*/
.buscarMedicos {
	width: 250px;
	margin-bottom: 25px;
}

.buscarMedicos legend {
	display: none;
}

.buscarMedicos label {
	display: block;
	margin-bottom: 5px;
}

.buscarMedicos select {
	border: 1px solid #ccc;
	width: 250px;
	margin-bottom: 8px;
}

.buscarMedicos span.bloque {
	height: 22px;
	clear: both;
}

.buscarMedicos span.filtro {
	float: left;
}

.buscarMedicos span.filtro1 {
	width: 145px;
}

.buscarMedicos span.filtro input {
	float: left;
	margin-top: 2px;
	margin-right: 4px;
	*margin-top: -2px;
	*margin-right: 0;
}

.buscarMedicos span.filtro label {
	float: left;
}

.buscarMedicos button {
	float: right;
	*margin-right: -16px;
}

ol.resultados {
	list-style-position: inside;
	list-style-type: decimal;
	margin-bottom: 20px;
}

ol.resultados li {
	margin-bottom: 10px;
	color: #2e97cc;
}

/* IN17 B */
.detalleResultados h4 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}

.detalleResultados h4 a {
	padding-left: 15px;
	background: url(../../images/layout/bullet-desplegar.gif) 0 4px no-repeat;
	display: block;
}

.selected h4 a {
	background-position: 0 -11px;
}

.detalleResultados div.contenidoResultados {
	width: 590px;
	margin-left: 8px;
	position: relative;
}

.detalleResultados div h5,.detalleResultados div p {
	width: 380px;
}

.detalleResultados ul.tips {
	position: absolute;
	top: 25px;
	right: 50px;
}

.detalleResultados ul.tips li {
	background: url(../../images/layout/borde-punteado.gif) bottom repeat-x;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.detalleResultados ul.tips li a.tip,.detalleResultados ul.tips li a.formTip
	{
	float: left;
	margin-right: 4px;
}

/* Tooltip */
#cluetip {
	padding: 0 11px 11px;
	margin-top: -18px;
	*margin-top: -20px;
	position: relative;
	z-index: 1050 !important;
}

#cluetip-close {
	text-indent: -1000em;
	top: 30px;
	right: 5px;
	z-index: 255;
	position: absolute;
}

#cluetip-close a {
	text-indent: -1000em;
	width: 68px;
	height: 18px;
	display: block;
	background: url(../../images/layout/tooltip-cerrar.gif) no-repeat;
}

#cluetip-arrows {
	width: 15px;
	height: 17px;
}

.cluetip-arrows {
	display: none;
	position: absolute;
	top: 0;
	left: -7px;
	background-repeat: no-repeat;
}

.clue-right-default .cluetip-arrows {
	background-image: url(../../images/layout/tooltip-arrow-left.png);
	left: 0px;
	margin-top: 25px;
	width: 17px !important;
	height: 15px !important;
}

.clue-left-default .cluetip-arrows {
	background-image: url(../../images/layout/tooltip-arrow-right.png);
	left: 242px;
	margin-top: 27px;
	margin-right: -11px;
	width: 17px !important;
	height: 15px !important;
}

.clue-top-default .cluetip-arrows {
	background-image: url(../../images/layout/tooltip-arrow-bottom.png);
	top: 100%;
	left: 50%;
	margin-left: -11px;
	width: 22px !important;
	height: 17px !important;
	margin-top: -18px;
}

.clue-bottom-default .cluetip-arrows {
	background-image: url(../../images/layout/tooltip-arrow-top.png);
	top: 9px;
	left: 50%;
	margin-left: -11px;
	width: 22px !important;
	height: 17px !important;
}

#cluetip-inner div h5 {
	font-size: 16px;
	color: #fff;
	margin-left: 15px;
}

#cluetip-inner div ul {
	padding: 8px 0;
	margin-left: 15px;
}

#cluetip-inner div ul li {
	padding-bottom: 3px;
}

#cluetip-inner div ul li a {
	color: #fff;
}

/* toolTip */
div.toolTip {
	width: 235px;
	background: url(../../images/layout/tooltip-bottom.png) center bottom
		no-repeat;
	padding-bottom: 10px;
}

div.toolTipContents {
	background: url(../../images/layout/tooltip-middle.png) center repeat-y;
}

div.toolTip .contents {
	background: url(../../images/layout/tooltip-top.png) center top no-repeat;
	padding-top: 30px;
	padding-left: 10px;
}

/* formTip */
div.formTip {
	background: url(../../images/layout/formtip-bottom.png) center bottom
		no-repeat;
	padding-bottom: 10px;
}

div.formTipContents {
	background: url(../../images/layout/formtip-middle.png) center repeat-y;
	padding-bottom: 8px;
}

div.formTip .contents {
	background: url(../../images/layout/formtip-top.png) center top no-repeat;
	padding-top: 26px;
	padding-left: 10px;
}

div.formHolder {
	overflow: hidden;
	height: 1%;
	width: 100%;
}

div.formTip form {
	width: 250px;
	float: left;
	margin: 0 0 0 18px;
}

div.formTip form legend {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	padding-bottom: 8px;
	*margin-left: -7px;
}

div.formTip form select {
	width: 219px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
}

div.formTip form span.campos {
	overflow: hidden;
	margin-bottom: 5px;
	display: block;
}

div.formTip form span label {
	color: #fff;
	float: left;
	width: 65px;
}

div.formTip form span.campos input {
	width: 150px;
}

div.formTip form button {
	margin: 8px 0;
	*margin-left: -15px;
}

div.formTip form span.acciones label {
	float: none !important;
	width: auto !important;
	display: block;
}

div.formTip form span.acciones label a {
	color: #fff;
}

div.formTip p {
	color: #fff;
	float: left;
	width: 400px;
	margin-top: 25px;
}

#gracias {
	width: 878px;
	height: 110px;
	margin: 0 auto 30px;
	padding: 30px 0 0 15px;
	background: url(../../images/layout/fondo-gracias.gif) no-repeat;
}

#gracias h2 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #383f42;
}

#gracias h3 {
	font-size: 16px;
	font-weight: normal;
}

div.masInformacion {
	width: 893px;
	margin: 0 auto;
	overflow: hidden;
}

div.masInformacion div {
	float: left;
	margin-right: 15px;
	margin-bottom: 0;
}

div.masInformacion div.extras {
	margin-right: 0;
}

/* IN19 */
#formularioSolicitud {
	background: url(../../images/layout/borde-punteado.gif) top repeat-x;
	width: 600px;
	padding-top: 25px;
}

#solicitarAgente fieldset {
	background: url(../../images/layout/borde-punteado.gif) bottom repeat-x;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#solicitarAgente fieldset.consulta {
	background: none;
	margin-bottom: 0;
}

#solicitarAgente legend {
	*margin-left: -7px;
	font-size: 16px;
	color: #383f42;
	font-weight: bold;
	padding-bottom: 10px;
}

#solicitarAgente label {
	display: block;
	margin-bottom: 3px;
}

#solicitarAgente label span {
	color: #d9503e;
}

#solicitarAgente input,#solicitarAgente select {
	width: 290px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	padding: 1px 0;
}

#solicitarAgente input.area {
	width: 60px;
	margin-right: 5px;
}

#solicitarAgente input.numero {
	width: 220px;
}

#solicitarAgente span.seleccion {
	height: 18px;
	display: block;
	margin-bottom: 5px;
}

#solicitarAgente span.seleccion label {
	float: left;
	margin-right: 135px;
}

span.seleccion span.bloqueRadio {
	float: left;
	width: 85px;
	height: 18px;
}

span.seleccion span.bloqueRadio label {
	float: left !important;
	width: 32px;
	height: 18px;
	margin-right: 10px !important;
}

span.seleccion input {
	float: left;
	margin-top: 2px;
	*margin-top: -2px;
}

#solicitarAgente span.bloque {
	width: 290px;
	overflow: hidden;
	height: 1%;
	padding: 3px 0;
	display: block;
}

label.producto {
	width: 145px !important;
	float: left !important;
	margin-bottom: 3px;
}

label.producto input {
	width: 10px !important;
	border: 0 !important;
	float: left;
	margin-top: 2px;
	*margin-top: -2px;
	margin-right: 3px;
}

.radio {
	width: 10px !important;
	border: 0 !important;
	margin: 5px 2px 0 0;
}

label.contactar {
	width: 220px;
	height: 20px;
	padding-bottom: 3px;
	display: block;
}

label.contactar input.radio {
	float: left;
	*margin-top: -2px;
	*margin-right: 0;
	margin-top: 1px;
	margin-right: 8px;
}

label.contactar input#contactar {
	width: 190px;
}

#solicitarAgente textarea {
	border: 1px solid #ccc;
	width: 290px;
	height: 90px;
}

#solicitarAgente button {
	float: left;
	margin: 15px 0 0 215px;
	*margin: 15px 0 0 200px;
}
/* IN15 Afore */
#columnaLateral #ingresar {
	margin-top: 0 !important;
	margin-bottom: 14px;
}

#ingresar {
	height: 220px;
	background: url(../../images/layout/div-ingresar.gif) no-repeat;
	padding: 15px 15px 0;
	width: 182px;
}

#ingresarcorto {
	height: 160px;
	background: url(../../images/layout/div-ingresa-cortor.gif) no-repeat;
	padding: 15px 15px 0;
	width: 182px;
}

#ingresarcorto h3 {
	font-size: 16px;
	color: #364042;
	background: url(../../images/layout/titulo-contactenos.gif) bottom repeat-x;
	padding-bottom: 6px;
	margin-bottom: 10px;
	width: 182px;
}

#ingresarcorto legend {
	display: none;
}

#ingresarcorto label {
	display: block;
	margin-bottom: 4px;
}

#ingresarcorto input {
	border: 1px solid #ccc;
	width: 180px;
	margin-bottom: 6px;
	height: 16px;
}

#ingresarcorto button {
	*margin-left: -15px;
}

#ingresar h3 {
	font-size: 16px;
	color: #364042;
	background: url(../../images/layout/titulo-contactenos.gif) bottom repeat-x;
	padding-bottom: 6px;
	margin-bottom: 10px;
	width: 182px;
}

#ingresar legend {
	display: none;
}

#ingresar label {
	display: block;
	margin-bottom: 4px;
}

#ingresar input {
	border: 1px solid #ccc;
	width: 180px;
	margin-bottom: 6px;
	height: 16px;
}

#ingresar button {
	*margin-left: -15px;
}

#diapositivas {
	background: url(../../images/layout/div-diapositivas.gif) no-repeat;
}

#diapositivas img {
	margin-bottom: 5px;
}

#diapositivas div p {
	font-size: 16px;
	text-align: center;
	width: 120px;
	margin: 0 auto;
}

#diapositivas .paginador {
	width: 170px;
	font-size: 11px;
}

#diapositivas .paginador li {
	margin-top: 4px;
}

#diapositivas .paginador li.anterior,#diapositivas .paginador li.siguiente
	{
	margin-top: 0;
}

#diapositivas .paginador li a {
	margin-right: 3px;
	padding-left: 2px;
}

#diapositivas .paginador li.anterior a,#diapositivas .paginador li.siguiente a
	{
	text-indent: -1000em;
	width: 17px;
	height: 18px;
	display: block;
	padding: 2px 0 !important;
	margin: 0;
	outline: none;
}

/* Slider Diapositivas */
#slider {
	position: absolute;
	overflow: scroll;
	width: 180px;
	height: 163px;
}

#slider .belt {
	position: absolute;
	left: 0;
	top: 0;
}

#slider .panel {
	float: left;
	overflow: hidden;
	margin-right: 50px;
	width: 180px;
}

.StepCarouselCurrent {
	color: #6ab667 !important;
}

/* IN20 */
#siteMap {
	width: 893px;
	margin: 0 auto;
	background: url(../../images/layout/sitemap-bottom.gif) bottom no-repeat;
	padding-bottom: 33px;
}

#siteMap .contenido {
	width: 893px;
	background: url(../../images/layout/sitemap-top.gif) left top no-repeat;
	padding-top: 4px;
}

#siteMap .contenido .mapa {
	background: url(../../images/layout/sitemap.gif) repeat-y;
	padding: 15px 18px;
}

#siteMap h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

#siteMap div.detalleServicio {
	background: url(../../images/layout/borde-punteado.gif) top repeat-x;
	padding: 15px 0;
	height: 1%;
	overflow: hidden;
}

#siteMap div.detalleServicio ul {
	list-style-position: outside;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#siteMap div.detalleServicio ul li {
	margin: 0px;
}

#siteMap div.detalleServicio li ul {
	padding-left: 10px;
}

h3.siteMap {
	font-size: 16px !important;
	text-transform: uppercase;
	margin-bottom: 10px;
}

div.siteMap {
	overflow: hidden;
	height: 1%;
	margin-bottom: 10px;
}

div.siteMap div {
	width: 136px;
	float: left;
	/* margin-bottom: 10px; */
	margin-right: 32px;
}

div.siteMap div li ul {
	padding-left: 10px;
}

div.siteMap h5 {
	font-size: 12px;
	color: #515151;
	margin-bottom: 10px;
	white-space: nowrap;
}

/* IN21 */
#buscarPromotorias {
	width: 300px;
}

#buscarPromotorias legend {
	display: none;
}

#buscarPromotorias span.opcion {
	width: 150px;
	float: left;
}

#buscarPromotorias label {
	display: block;
	margin-bottom: 3px;
}

#buscarPromotorias select {
	width: 135px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
}

#buscarPromotorias select#palabraClave {
	width: 285px;
}

#buscarPromotorias button {
	float: right;
	margin: 5px 13px;
	*margin: 5px 0;
}

/* Menu Empresas */
ul.empresas {
	width: 926px;
	background: url(../../images/layout/menu-empresas.gif) no-repeat;
}

.empresas li.menuInicio a {
	width: 103px;
	left: 0;
}

.empresas li.menuSeguros a {
	width: 126px;
}

.empresas li.menuPensiones a {
	width: 126px;
	left: -4px;
}

.empresas li.menuSac a {
	width: 189px;
	left: -6px;
}

.empresas li.menuConocenos a {
	width: 159px;
	left: -8px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#redefineBusqueda legend {
		padding: 8px 218px 10px 15px;
	}
	span.seleccion input,span.producto input {
		margin-top: 0;
		margin-right: 5px;
	}
}

.tit_qdc_gris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #707070;
}

.txt_qdc_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #707070;
}

.txt_qdc_ejemplos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
}

.form_qdc {
	font-family: Arial, Helvetica, sans-serif;
	color: #9C9C9C;
	font-size: 12px;
	border: thin solid #CCC;
}

.btnAccion_1 {
	background-image: url(../../images/buttons/boton-accion-3.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 26px;
	width: 77px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border: none;
}