.menu, .contenido{
	position: relative;
	z-index: 0;
}
.menu ul {
	position: absolute;
	top: 40px;
	left: 20px;
	width: 100%;
	z-index: 350;
	padding-bottom: 13px;

	visibility: hidden; /* comienzan invisibles, se hacen visibles en el hoverIntent */
	display: none;      /* idem */

	background: url(../../images/layout/submenu-hover.gif) repeat-x;
	left: 0;
	font-size: 16px;
}
.menu li:hover {
	visibility:	inherit; /* fixes IE7 'sticky bug' */
}
#menu.activo{
	height: 32px;
}
.menu li:hover ul,
.menu li.sfHover ul,
.menu li ul {
	left:	0;
	top: 2.5em; /* match top ul list item height */
	z-ind ex: 10;  /* importante para que funcione el hoverIntent en los submenus previos al que esta activo! */
	width: 908px;
	background: url(../../images/layout/submenu-hover.gif) repeat-x;
	height: 32px;
	padding-left: 15px;
}
.menu li:hover ul li,
.menu li.sfHover ul li,
.menu li ul li {
	text-align: left;
	margin-right: 20px;
}
.menu li:hover ul li a,
.menu li.sfHover ul li a,
.menu li ul li a {
	background: none!important;
	width: auto!important;
	display: inline-block;
	font-size: 0.8em;
	padding-top: 7px;
}
.menu li:hover ul li a:hover{
	color:#7eb764;
	cursor: pointer;
}

.menu ul.activo{
	left:	0;
	top: 2.5em; /* match top ul list item height */
	width: 908px;
	background: url(../../images/layout/submenu-activo.gif) repeat-x!important;
	height: 32px;
	display: block!important;
	visibility: visible!important;
	z-index: 250!important;
}
ul.activo li a{
	color: #2195df!important;
	cursor: pointer!important;
}

ul.activo li a:hover, .menu ul li a:hover{
	color: #7eb764!important;
	cursor: pointer;
}
.menu ul li a{
	left: 0!important;	
}
.menu ul.activo li.current a{
	color: #7eb764!important;
	background: url(../../images/layout/submenu-li-current.gif) 0 11px no-repeat!important;
	padding-left: 8px;
}

.menu li.submenu:hover a, .menu li.hover a{
	background: url(../../images/layout/menu-hover.png) left top no-repeat;
}
.menu li.submenu:hover span, .menu li.hover span{
	background: url(../../images/layout/menu-On-span.png) right top no-repeat;
}	

.menu li.On:hover a{
	background: url(../../images/layout/menu-On.png) left top no-repeat;
	color: #7eb764;
	cursor: default;
}
.menu li.On:hover span{
	background: url(../../images/layout/menu-On-span.png) right top no-repeat;
	cursor: default;
}