
.login legend em {
	width: 350px;
	display: block;
	margin: 0;
	padding: 3px 0 0 10px;
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
	height: 26px;
	text-align: left;
}

.formLoginHeader {
	background: url(../images/layout/top-bg-form-360.gif) no-repeat;
	height: 29px;
	font-family: Tahoma, Arial, sans-serif;
	color:white;
	font-size: 16px;
}


.login label {
	color: #0088cc;
	padding: 10px 0 0 0;
	text-align: left;
	margin-left: 102px;
}


.btnLogin span {
	background: url("../images/layout/boton-accion.png") left center no-repeat;
	
	padding-left: 20px;
}

.btnLogin em {
	background: url("../images/layout/boton-accion.png") right center no-repeat;
	font-style: normal;
	padding-right: 20px;
	height: 21px;
	padding-top: 4px;
}





