
.error {
	color: red;
	font-size: 12px;
	font-family: Arial, Tahoma, sans-serif;
}

a,a:link,a:visited,a:active,a:focus {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul,ol {
	list-style-position: outside;
	list-style-type: none;
}

blockquote {
	font-size: 22px;
	line-height: 24px;
}

cite,em,dfn {
	font-style: italic;
}

code,kbd,samp,pre,tt,var,input[type='text'],input[type='password'],textarea
	{
	font-family: Arial, "Lucida Console", courier, mono-space;
}

pre {
	white-space: pre;
}

pre * {
	font-size: 100%;
	white-space: pre;
}

del {
	text-decoration: line-through;
	color: #666;
}

ins,dfn {
	border-bottom: 1px solid #ccc;
}

small,sup,sub {
	font-size: 85%;
}

big {
	font-size: 125%;
	line-height: 80%;
}

abbr,acronym {
	letter-spacing: .1em;
	text-decoration: none;
}

a abbr,a acronym {
	border: none;
}

abbr[title],acronym[title],dfn[title] {
	border-bottom: 1px solid black;
	cursor: help;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

/* Form ................................................................................................ */
form fieldset {
	border: none;
}

textarea,input[type='text'],select,input {
	background-color: white;
	padding-left: 2px;
}

button {
	border: none;
	background: none;
	color: #fff;
	cursor: pointer;
}

button span,button em {
	display: block;
	height: 25px;
}

.btnEnviar span {
	background: url(../images/layout/btnazul.png) left center no-repeat;
	padding-left: 20px;
}

.btnEnviar em {
	background: url(../images/layout/btnazul.png) right center no-repeat;
	font-style: normal;
	padding-right: 20px;
	height: 21px;
	padding-top: 4px;
}

.btnBuscar span {
	background: url(../images/layout/btnEnviar.png) left center no-repeat;
	padding-left: 20px;
}

.btnBuscar em {
	background: url(../images/layout/btnEnviar.png) right center no-repeat;
	font-style: normal;
	padding-right: 20px;
	height: 21px;
	padding-top: 4px;
}

input[type='button'],input[type='submit'],input[type='checkbox'],input[type='image'],input[type='radio'],input[type='reset'],select,button
	{
	cursor: pointer;
}

input[type='hidden'] {
	display: none;
}

.tagBottom {
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	vertical-align: text-top;
	padding: 0px 0px;
}

.infoIdentificacion {
	font-size: 12px;
}

.polExp {
	font-size: 12px;
	text-align: justify;
	font-family: Arial, Sans-Serif;
}

.tag {
	font-size: 10pt;
	font-family: Arial, Tahoma, sans-serif;
	text-align: right;
	width: 20% !important;
}

.tagBold {
	font-size: 10pt;
	font-family: Arial, Tahoma, sans-serif;
	font-weight: bold;
	text-align: left;
}

table.seccion-solicitud {
	width: 868px;
}

#containerSolicitud {
	width: 868px;
}

span.titleSeccion {
	font-weight: bold;
	color: #7eb764;
}

span.required {
	font-weight: bold;
	color: red;
}

.inactivo {
	color: gray;
}

span.nombreCampo {
	font-weight: normal;
	color: #444;
}

span.result{
	font-size: 14px;
	font-weight: bold;
}

.moduleTitle{
	padding-top: 10px;
	padding-bottom: 10px;
}

.moduleTitle span{
	font-size: 18px;
}

span.leyenda {
	font-size: 14px;
}

span.nota {
	font-size: 12px;
	font-weight: bold;
}

/*select {
	font-size: 12px;
}*/

label {
	color: #707070;
	font-family: Arial, Tahoma, sans-serif;
}

p {
	color: #707070;
	font-family: Arial, Tahoma, sans-serif;
}

.subseccion {
	color: #707070 !important;
	font-weight: bold;
	font-family: Arial, Tahoma, sans-serif;
	font-weight: 12px !important;
}

.seccion {
	background: url(../images/layout/menuservicios-li.gif) top left
		no-repeat;
	font-weight: bold;
	padding: 8px 10px 0 6px;
	height: 20px;
	display: block;
	cursor: pointer;
	color: #6ab667
}

.control {
	text-align: left;
	width: 30% !important;
}

.msgAvisoPrivacidad {
	color: red;
	font-size: 12px;
}

.valueField {
	color: black;
	text-align: left;
}

.consultaSolicitud .tag {
	width: 25% !important;
}

.consultaSolicitud .valueField {
	width: 25% !important;
}

form fieldset {
	border: none;
}

textarea,input[type='text'],select,input {
	background-color: white;
	padding-left: 2px;
}

button {
	border: none;
	background: none;
	color: #fff;
	cursor: pointer;
}

button span,button em {
	display: block;
	height: 25px;
}

.btnEnviar span {
	background: url(../images/layout/btnazul.png) left center no-repeat;
	padding-left: 20px;
}

.btnEnviar em {
	background: url(../images/layout/btnazul.png) right center no-repeat;
	font-style: normal;
	padding-right: 20px;
	height: 21px;
	padding-top: 4px;
}

.btnBuscar span {
	background: url(../images/layout/btnEnviar.png) left center no-repeat;
	padding-left: 20px;
}

.btnBuscar em {
	background: url(../images/layout/btnEnviar.png) right center no-repeat;
	font-style: normal;
	padding-right: 20px;
	height: 21px;
	padding-top: 4px;
}

input[type='button'],input[type='submit'],input[type='checkbox'],input[type='image'],input[type='radio'],input[type='reset'],select,button
	{
	cursor: pointer;
}

input[type='hidden'] {
	display: none;
}

#contenido input {
	border: 1px solid #ccc;
}

#contenido input[type='radio'], input[type='checkbox']{
	border: none !important;
}


#contenido select {
	border: 1px solid #ccc;
}

.popupWindow select,input {
	border: 1px solid #ccc;
}

td{
	padding: 1px 1px 1px 1px !important; 	
}


#divLoading {
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
  opacity: 0.7;
  z-index: 9998;
  text-align: center;
  width: 100%;
  height: 100%; 
}

.loading {
  display: block;
  z-index: 9999;
  text-align: center;
}

th{
	text-align:center; 
}


#welcome span{
	color: #2195df;
	font-size: 14px;
	font-weight: bold;
}

#welcome a{
	text-decoration: underline;
}


.encabezado .usuario {
	font-size: 16px;
	color: #0089ca;
}

.encabezado .fecha {
	font-size: 12px;
	color: #a5a5a5;
}

.encabezado .iniciar {
	background: transparent url(../images/layout/background-fecha.gif) no-repeat scroll 0 0;
}

.encabezado .divusuario {
	background: url(../images/layout/usuario-div.png) 1px 1px repeat-x;
}



.encabezado .usuario em {
	color: #86ba6f;
	font-style: normal;
}

.encabezado .administra {
	font-size: 12px;
	color: #0089ca;
}




	#tablaEsquemas{
		border-spacing: 0px;
		border-collapse: collapse;
		color: black;
	}
	
	#tablaEsquemas td{
		border-left:1px solid #79b7e7;
		border-right:1px solid #79b7e7;
		border-top: 1px solid #79b7e7;
		border-bottom: 1px solid #79b7e7;
		text-align: center;
		height: 30px;
		width: 200px;
		color: black;
	}	
	
	#tablaEsquemas th{
		height: 35px;
	}
	
	.infoResultado{
		background-color: #eaeaea;
		font-weight: bold;
		color: black;	
	}
	
	#lastRow td{
		border-bottom:1px solid #79b7e7;
	}
	
	#thConcepto{
		border-top:1px solid #79b7e7;
		border-left:1px solid #79b7e7;
		border-right:1px solid #79b7e7;
	}
	
	.tdConcepto{
		font-weight: bold;
		text-align: left !important;
	}
	
	