	
	table.display thead th {
		padding: 3px 0px 3px 10px;
		cursor: pointer;
		* cursor: hand;
	}
	
	
	table.display {
		margin: 0 auto;
		width: 100%;
		clear: both;
		border-collapse: collapse;
		
	}
	
	table.display tfoot th {
		padding: 3px 0px 3px 10px;
		font-weight: bold;
		font-weight: normal;
	}
	
	table.display tr.heading2 td {
		border-bottom: 1px solid #aaa;
	}
	
	table.display td {
		padding: 3px 10px;
	}
	
	table.display td.center {
		text-align: center;
	}
	
	table.display tr.odd {
		background-color: #FFFFFF;
		font-family:Arial, Sans-Serif;
		font-size:8pt;
		color:#000000;
		text-align:center;
		vertical-align: top;
	}
	
	table.display tr.even {
		background-color: #EFFBFB;
		font-family:Arial, Sans-Serif;
		font-size:8pt;
		color:#000000;
		text-align:center;
		vertical-align: top;
	}
	
	table.display a {
		color: blue;
		text-decoration: underline; 
	}
